<!-- locals are status and list of issues -->

<div class="kanban-column" id="kb-col-<%= status.id %>">
  <h1><%= status.name %></h1>
  <div class="sortable">
    <% issues.each do |issue| %>
      <%= render partial: 'issue_row', locals: { issue: issue } %>
    <% end %>
  </div>
</div>
