<div class="kanban-row" id="kb-row-<%= issue.id %>">
  <div class="kanban-subject"><%= issue.subject %></div>
  <div class="kanban-assignee"><%= issue.assigned_to_id && issue.assigned_to.name %></div>
</div>
