#kanban-container {
  clear: both;
}

.kanban-column {
  float: left;
  clear: none;
  width: 200px;
  padding: 10px;
}

.kanban-column h1.header {
  text-align: center;
}

.kanban-row {
  padding: 5px;
  border: 1px solid #aaaaaa;
  margin: 5px;
  border-radius: 3px;
}

.issue-subject {
  height: 30px;
  overflow: hidden;
}

.sortable.hovering {
  /*background: #a1d490;*/
}

.placeholder {
  padding: 4px;
  border: 2px dashed #adadad;
  margin: 5px;
  border-radius: 3px;
}

.ajax-error {
  background: red;
}

.version.current {
  color: black;
}
