#kanban-container {
  clear: both;
  overflow-x: scroll;
}

.kanban-column {
  float: left;
  clear: none;
  width: 250px;
  padding: 10px;
}

.kanban-column h1.header {
  text-align: center;
}

.kanban-row {
  padding: 5px;
  border: 1px solid #aaaaaa;
  border-right: 6px solid #aaaaaa;
  margin: 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.issue-subject {
  height: 30px;
  overflow: hidden;
}

.issue-subject a {
  color: black !important;
  text-decoration: none !important;
}

.sortable.hovering {
  /*background: #a1d490;*/
}

.placeholder {
  padding: 4px;
  border: 2px dashed #adadad;
  margin: 5px;
  border-radius: 3px;
}

.ajax-error {
  border-color: red !important;
}

.version.current {
  color: black;
}

#dialog-helper form * {
  width: 98%;
}
