a.version {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  background-color: #eeeeee;
  color: #190F10;
}

a.version.current {
  background-color: #cccccc;
}
#versions {
  margin: 8px;
  width: 100%;
  text-align: center;
}

#kanban-container {
  clear: both;
  overflow-x: scroll;
}

.kanban-column {
  float: left;
  clear: none;
  width: 250px;
  padding: 10px;
}

.kanban-column h1.header {
  text-align: center;
}

.kanban-column .sortable {
  min-height: 200px;
}

.kanban-row {
  padding: 5px;
  border: 1px solid #aaaaaa;
  border-right: 6px solid #aaaaaa;
  margin: 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.issue-subject {
  height: 30px;
  overflow: hidden;
  cursor: move;
}

.sortable.hovering {
  /*background: #a1d490;*/
}

.placeholder {
  padding: 4px;
  border: 2px dashed #adadad;
  border-right: 6px solid #adadad;
  margin: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ajax-error {
  border-color: red !important;
}

#dialog-helper form * {
  width: 98%;
}
